#station-list-item {
  layout: horizontal;
  height: auto;
}

Label {
  padding-left: 1;
  padding-right: 1;
  margin-left: 1;
  margin-right: 1;
}

.line_title {
  text-style: bold;
  text-align: center;
  margin: 1 0;
}

.column_title {
  text-style: bold;
  text-align: center;
  margin-bottom: 1;
}

ArrivalColumn {
  width: 1fr;
  padding: 0 2;
}

ArrivalRow {
  height: 1;
}
